# Server Port
PORT=5000

# Base URL Prefix
BASE_URL=/api/v1

# Security & JWT Tokens
ACCESS_TOKEN_SECRET=your_jwt_access_secret_key_here
REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_key_here

# PostgreSQL Database Connection (Neon / Supabase / Local PostgreSQL)
# Pooled connection string for queries
DATABASE_URL="postgresql://username:password@ep-sample-pooler.aws.neon.tech/neondb?sslmode=require"
# Direct/Unpooled connection string for migrations
DIRECT_URL="postgresql://username:password@ep-sample.aws.neon.tech/neondb?sslmode=require"

# Client CORS URLs
FRONTEND_URL=https://leadix.vercel.app,http://localhost:5182
